<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duiya.dao.FileDao">
    <insert id="save" parameterType="java.util.List">
        insert into t_file(file_name,file_time,file_owner,file_state,file_fserver) values
        <foreach collection="list" item="item" index= "index" separator =",">
            (#{item.fileName},#{item.fileTime},#{item.fileOwner},#{item.fileState},#{item.fileFserver})
        </foreach>
    </insert>

    <update id="updateState" parameterType="string">
            UPDATE t_file SET file_state = CONCAT(file_state,#{iphash6})  WHERE file_name=#{location} ;
    </update>

    <select id="getLocalRecentFile" resultType="string">
            select file_name as fileName from t_file where file_fserver=#{iphash6} and file_time between #{last} and #{now}
    </select>
</mapper>